[user]
	email = rexagod@gmail.com
	name = "Pranshu Srivastava"
	signingkey = 63938388A4528764
[diff]
	renamelimit = 50000
	colorMoved = default
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = rexagod
[alias]
	fix = !${EDITOR} $(git diff --name-only --relative --diff-filter=U | uniq)
	biff = bat -d
	project-summary = !which onefetch && onefetch
	checkout-to = !which checkout-to.sh && checkout-to.sh
	mod-version = !which mod-version.sh && mod-version.sh
[pull]
	rebase = true
[core]
	pager = delta
	excludesfile = /Users/rexagod/.gitignore
[interactive]
	diffFilter = delta --color-only --features=interactive
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[rebase]
	autosquash = false
[rerere]
	enabled = false
[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	features = decorations
	side-by-side = false
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
[gpg]
	format = openpgp
