[user]
	email = rexagod@gmail.com
	name = "Pranshu Srivastava"
	signingkey = 3CDBD4D4CEF89B86
[diff]
	tool = vimdiff
	renamelimit = 50000
[merge]
	tool = vimdiff
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	user = rexagod
[alias]
	ctags = !ctags
	fix = !${EDITOR} $(git diff --name-only --relative --diff-filter=U | uniq)
[pull]
	rebase = true
[core]
	pager = git-split-diffs --color | less -RFX
[interactive]
	diffFilter = less
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[rebase]
	autosquash = false
[rerere]
	enabled = true
[split-diffs]
	theme-name = github-dark-dim
